params.cmd = 'start-notebook.sh'
params.container = 'jupyter/minimal-notebook'


process.container = params.container
process.debug = true
wave.enabled = true
docker.enabled = true

fusion {
  enabled = true
  containerConfigUrl = 'https://fusion-develop.s3.eu-west-2.amazonaws.com/snapshots/2023/04/13/141344050/fusion-snapshot-amd64.json'
}
